@tailwind base;
@tailwind components;
@tailwind utilities;

.date-picker_calendar {
  border: none !important;
  padding: 8px 20px;
  border-radius: 0px !important;
}

.date-picker_input {
  padding: 16px;
  border: 1px solid rgb(196, 194, 194);
  border-radius: 8px;
  display: flex;
  background-color: white;
  width: 100%;
  outline: none;
}
.react-datepicker {
  border: 1px solid #cbd4d4 !important;
  border-radius: 8px !important;
  overflow: hidden !important;
}
.react-datepicker__header {
  background-color: white !important;
  border: none !important;
}

.react-datepicker__current-month {
  font-weight: 500 !important;
}

.react-datepicker__navigation--next {
  right: 12px !important;
  top: 20px !important;
}
.react-datepicker__navigation--previous {
  left: 12px !important;
  top: 20px !important;
}

.react-datepicker__day,
.react-datepicker__day-name {
  margin: 6px !important;
}

.react-datepicker__day--selected {
  background-color: #c4ad62 !important;
  color: white !important;
  border-radius: 50% !important;
}

/* .react-datepicker__day-name:hover,
.react-datepicker__day-name:hover {
  background-color: #c4ad62;
  color: #2a2a2a !important;
  border-radius: 0px !important;
} */

/* .react-datepicker__day-name--keyboard-selected,
.react-datepicker__day-name--range-start,
.react-datepicker__day-name--range-end {
  background-color: #c4ad62 !important;
  border-radius: 40px !important;
  color: white !important;
  position: relative;
  transform-style: preserve-3d;
} */

/* .react-datepicker__day-name--range-start,
.react-datepicker__day-name--range-end {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #f4f0e3;
  left: 0;
  right: 0;
  transform: translateZ(-1px);
} */
/* .react-datepicker__month-container {
  width: 100%;
} */

/* .react-datepicker__day-name--range-start::before {
  margin-inline-end: auto;
}

.react-datepicker__day-name--range-start::after {
  margin-inline-start: auto;
} */
